html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
  ;
}
.container1 {
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;}
    
header{
  grid-area:header;
  font-size: 50px;
  text-transform: uppercase;}

footer{
  background-color: white;
  grid-area:footer;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}
.end1{
  grid-area:end1;
  font-size: 12px;
  margin-left: 50px;
}
.end2{
  grid-area:end2;
  font-size: 12px;
  margin-left: 80px;
}
.sidebar{
    background-color: lightblue;
    grid-area:sidebar;
    width: 300px;
}
.circular--square {
  border-radius: 50%;
  text-align: center;
  margin-left: 50px;
  }
.contact p {
  margin: 0 10px;
  text-align: left;


}
.contact h2 {
  text-align: center;
}
.aboutme p {
  margin: 0 10px;
  text-align: justify;
}
.aboutme h2 {
  text-align: center;
}

.nobullet {
 list-style-type: none;
 margin-left: 35px;
 margin-bottom: 10px;
}
.aboutme {
  text-align: center;
}
.hobbies {
  text-align: center;
  margin-top: 450px;
}
.data1 {
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
  }
.data2 {
    font-size: 15px;
    text-align: left;
    position: relative; right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
  }
.bar {
    display: flexbox;
    width: 300px;
    font-size: 30px;
    float: none;
    margin-left:5px;
    border:1px solid #000;
    text-align: center;
    align-items: center;
    background-color: rgb(100, 96, 96);
    color: lightblue;
    text-transform: uppercase;
    margin: auto;
    padding-top: 20px;  
    font-family: Arial, Helvetica, sans-serif; 


  }
.bar1 {
    display:block;
    width: 360px;
    height: 40px;
    font-size: 30px;
    float: none;
    margin-left:5px;
    border:1px solid #000;
    text-align: center;
    align-items: center;
    background-color: rgb(100, 96, 96);
    color: lightblue;
    text-transform: uppercase;
    margin: auto;
    padding-top: 20px;  
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 700px;
  }
.fa-theater-masks {
    margin: 7px;
}
.fa-biking {
    margin: 7px; 
} 
.fa-book-reader {
    margin: 7px; 
}
.icon {
padding: 30px;
}
.circle-icon {
    border-radius: 50%;
    border: solid;
    padding: 20px;
    

}
.name {
    text-align: justify;
    font-weight: 200;
    font-style: normal;
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    
}
.redtext {
    text-transform: uppercase;
    color: lightblue;
    padding-left: 50px;
  }

.name2 {
    font-size: 30px;
    padding-left: 50px;
}
.line {
    border-bottom:  2px solid lightblue;
    width: 750px;  
    margin-top: -20px;
  }
  #line2 {
    border-bottom:  2px solid lightblue;
    width: 30%; 
    margin-left: 50px;
    margin-top: -20px;
  }
.caps {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 10px ;
  }
.location{
    grid-area: location;
    font-size: 12px;
    margin-bottom: 20px;
}

.fa-circle{
  font-size: 8px;
}
.title3 {
  margin-left: 50px;
}
.line {
  margin-left: 50px;
}
.content1 li {
  display: flex;
  margin-left: 10px;

}
.date1 {
 text-align: justify;
 white-space: nowrap;
 width: 30%;
}
.fa-dot-circle {
  padding: 5px;
  width: 10%;
}
.fa-circle {
  padding: 5px;
  width: 10%;
}
h3 {
  margin-top:  0;
}
.content2 {
  width: 50%;
 
}
.content3 {
  display: flex;
}
.content3 > section {
  width: 50%;
}


/* @media only screen and (max-width: 2000px) {
  header {
    font-size: 40px;
    
  }
  .circular--square{
    margin-left: 400px;
  }

  .bar {
    width: 1000px;

  }
  .bar1 {
    width: 1000px;
  }
  .icon {
    margin-left: 300px;
  }
}

@media only screen and (max-width: 800px) {

  header {
    margin-left: 70px;
  }
  .line {
    width: 400px;
  }
  .bar {
    width: 720px;
  }
  .bar1 {
    width: 720px;
  }
  .circular--square{
    margin-left: 250px;
    border-radius: 50%;
    padding: 20px;
  }
  .icon {
    margin-left: 210px;
    font-size: 10px;
  }
  .edcontent1 {
    margin-left: 50px;
  }
  h3 {
    margin-top:  0;
    font-size: 3rem;
  }

  .edcontent2 {
    margin-left: 50px;
  }
  .excontent1 {
    margin-left: 50px;
  }
  .excontent2 {
    margin-left: 50px;
  }
  .excontent3 {
    margin-left: 50px;
  }
  .end2 {
    margin-left: 50px;
  }
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";} } */