html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar header header"
    "sidebar education education"
    "sidebar experience experience"
    "sidebar reference reference";
    grid-gap: 10px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    

}
header{
  grid-area:header;
  font-size: 50px;
  text-transform: uppercase;
}
nav{
   background-color: white;
   grid-area:nav;
   
}
.main{ 
  background-color: white;
  grid-area: main;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}
.eddate1 {
  grid-area: eddate1;
  margin-top: 20px;
}
.edcontent1 {
  grid-area: edcontent1;
}
.eddate2{
  grid-area: eddate2;
  margin-top: 20px;
}
.edcontent2{
  grid-area: edcontent2;
}
.main1{
  background-color: white;
  grid-area:main1;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}
.exdate1{
  grid-area:exdate1;
  margin-top: 20px;
}
.excontent1{
  grid-area: excontent1;
}
.exdate2{
  grid-area:exdate2;
  margin-top: 20px;
}
.excontent2{
  grid-area: excontent2;
}
.exdate3{
  grid-area:exdate3;
  margin-top: 20px;
}
.excontent3{
  grid-area: excontent3;
}
footer{
  background-color: white;
  grid-area:footer;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 50px;
}
.end1{
  grid-area:end1;
  font-size: 12px;
  margin-left: 50px;
}
.end2{
  grid-area:end2;
  font-size: 12px;
  margin-left: 80px;
}
.sidebar{
    background-color: lightblue;
    grid-area:sidebar;
}
.circular--square {
    border-radius: 60%;
    padding: 30px;
    margin-left: 55px;
  }
.nobullet {
 list-style-type: none;
 margin-left: 35px;
}
.data1 {
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px;
    padding: 20px;
  }
.data2 {
    font-size: 15px;
    text-align: left;
    position: relative; right: 70px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
  }
  .bar {
    display:block;
    width:360px;
    height: 40px;
    font-size: 30px;
    float: none;
    margin-left:5px;
    border:1px solid #000;
    text-align: center;
    align-items: center;
    background-color: rgb(100, 96, 96);
    color: lightblue;
    text-transform: uppercase;
    margin: auto;
    padding-top: 20px;  
    font-family: Arial, Helvetica, sans-serif;
    
    
  }
.bar1 {
    display:block;
    width: 360px;
    height: 40px;
    font-size: 30px;
    float: none;
    margin-left:5px;
    border:1px solid #000;
    text-align: center;
    align-items: center;
    background-color: rgb(100, 96, 96);
    color: lightblue;
    text-transform: uppercase;
    margin: auto;
    padding-top: 20px;  
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 700px;
  }
.fa-theater-masks {
    margin: 7px;
}
.fa-biking {
    margin: 7px; 
} 
.fa-book-reader {
    margin: 7px; 
}
#bullet {
    margin-left: 20px;
    font-size: 13px;
    
  }
.bullet1 {
    margin-left: 70px;
    font-size: 13px;
    list-style-type: none;
  }
.bullet2 {
    margin-left: 87px;
    font-size: 13px;
    list-style-type: none;
    
}
#bullet3 {
  margin-left: 20px;
  font-size: 13px;
  list-style-type: none;   
}
.bullet4 {
  margin-left: 80px;
  font-size: 13px; 
}
.bullet5 {
  margin-left: 80px;
  font-size: 13px;
  list-style-type: none; 
}
.date2{ 
    padding: 3px;  
    padding-bottom: 70px;
    margin-left: 40px;
    font-size: 13px;
    

  }

.icon {
padding: 30px;
}


.circle-icon {
    border-radius: 50%;
    border: solid;
    padding: 20px;
    

}

.name {
    text-align: justify;
    font-weight: 200;
    font-style: normal;
    font-family: sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    
}
.redtext {
    text-transform: uppercase;
    color: lightblue;
    padding-left: 50px;
  }

.name2 {
    font-size: 30px;
    padding-left: 50px;
}
.line {
    border-bottom:  2px solid lightblue;
    position: relative;
    width: 750px;  
  }
  #line2 {
    border-bottom:  2px solid lightblue;
    position: relative;
    width: 100px; 
    margin-left: 50px;
  }
.caps {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20px;
    list-style-type: none;
    margin-bottom: 10px ;
  }
  
.bull {
    font-size: 15px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif; 
}
.date{
    grid-area: date;
    font-size: 12px;
    margin-left: 50px;
   

}
.location{
    grid-area: location;
    font-size: 12px;
    margin-left: 62px;
}
.content{
    grid-area: info;
    font-size: 12px;
    max-width: 400px;
    margin-right: 300px;
}
.fa-circle{
  font-size: 8px;
}

@media only screen and (max-width: 2000px) {
  header {
    font-size: 40px;
    
  }
  .circular--square{
    margin-left: 400px;
  }

  .bar {
    width: 1000px;

  }
  .bar1 {
    width: 1000px;
  }
  .icon {
    margin-left: 300px;
  }
}

@media only screen and (max-width: 1800px) {
  .circular--square{
    margin-left: 60px;
  }

  .bar {
    width: 400px;
  }
  .bar1 {
    width: 400px;
}
.icon {
  margin-left: 30px;
}
}

@media only screen and (max-width: 1050px) {

  .circular--square{
    margin-left: 30px;
    border-radius: 50%;
    padding: 20px;

  }
  .bar {
    width: 300px;

  }
  .bar1 {
    width: 300px;
  }
  .line {
    width: 300px;
  }
  .icon {
    margin-right: 5px;
    font-size: 10px;
  }
  .fa-theater-masks {
    margin-right: 5px;
  }
  .fa-biking {
    margin-left: 5px;
  }
  .fa-book-reader {
    margin-left: 40px;
  }
  .end2{
    max-width: 120px;
  }
  
}

@media only screen and (max-width: 900px) {

  .circular--square{
    margin-left: 30px;
    border-radius: 50%;
    padding: 20px;
  }
  .bar {
    width: 300px;

  }
  .bar1 {
    width: 300px;
  }
  .line {
    width: 400px;
  }
  .fa-theater-masks {
    margin-right: 5px;
  }
  .fa-biking {
    margin-left: 5px;
  }
  .fa-book-reader {
    margin-left: 5px;
  }
  .end2{
    max-width: 200px;
  }
}

@media only screen and (max-width: 800px) {

  header {
    margin-left: 70px;
  }
  .line {
    width: 400px;
  }
  .bar {
    width: 720px;
  }
  .bar1 {
    width: 720px;
  }
  .circular--square{
    margin-left: 250px;
    border-radius: 50%;
    padding: 20px;
  }
  .icon {
    margin-left: 210px;
    font-size: 10px;
  }
  .edcontent1 {
    margin-left: 50px;
  }
  .edcontent2 {
    margin-left: 50px;
  }
  .excontent1 {
    margin-left: 50px;
  }
  .excontent2 {
    margin-left: 50px;
  }
  .excontent3 {
    margin-left: 50px;
  }
  .end2 {
    margin-left: 50px;
  }
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";
}
}
@media only screen and (max-width: 750px) {

  header {
    font-size: 40px;
    margin-left: 10px;
  }
  .line {
    width: 400px;
  }
  .bar {
    width: 500px;
  }
  .bar1 {
    width: 500px;
  }
  .circular--square{
    margin-left: 160px;
    border-radius: 50%;
    padding: 20px;
  }
  .icon {
    margin-left: 100px;}

  .container {
    height: 100vh;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";
}
}
@media only screen and (max-width: 550px) {

  header {
    font-size: 20px;
    text-align: justify;
    margin-right: 20px;
  }
  .name2 {
    font-size: 20px;
  }
  .line {
    max-width: 400px;
  }
  .bar {
    max-width: 450px;
  }
  .bar1 {
    max-width: 450px;
  }
  
  .circular--square{
    margin-left: 100px;
    border-radius: 50%;
    padding: 20px;
  }
  .icon {
    margin-left: 70px;
  }
  
  .container {
    height: 100vh;
    flex-direction: column;
    max-width: min-content; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";
}
}


@media only screen and (max-width: 450px) {

  header {
    font-size: 12px;
    text-align: justify;
  }
  .name2 {
    font-size: 12px;
  }
  .sidebar {
    max-width: 350px;
    margin-right: auto;
  }
  .bar {
    max-width: 300px;
  }
  .bar1 {
    max-width: 300px;
  }
  .line {
    max-width: 200px;
  }
  .circular--square{
    margin-left: 50px;
    border-radius: 50%;
    padding: 20px;
  }
  .icon {
    margin-left: 25px;
    font-size: 7px;
  }
  header {
    font-size: 15px;
    text-align: justify;
    margin-right: 20px;
  }
  .name2 {
    font-size: 15px;}
    
  .container {
    height: 100vh;
    display: block;
    flex-direction: column;
    max-width: min-content; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";
}
}

@media only screen and (max-width: 320px) {

  header {
    font-size: 10px;
    text-align: justify;
  }
  .name2 {
    font-size: 10px;
    text-align: justify;
    margin-right: 100px;
  }
  .sidebar {
    max-width: 300px;
    margin-right: auto;
  }
  .bar {
    max-width: 250px;
  }
  .bar1 {
    max-width: 250px;
  }
  .line {
    max-width: 200px;
  }
  .circular--square{
    margin-left: 20px;
    border-radius: 50%;
    padding: 10px;
  }
  .icon {
    margin-left: 5px;
    font-size: 7px;
  }
  header {
    font-size: 15px;
    text-align: justify;
    margin-right: 20px;
  }
  .name2 {
    font-size: 15px;}
    
  .container {
    height: 100vh;
    display: block;
    flex-direction: column;
    max-width: min-content; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";
}
}

@media only screen and (max-width: 280px) {

  header {
    font-size: 10px;
    text-align: justify;
    margin-right: 20px;
  }
  .name2 {
    font-size: 10px;
    margin-left: 5px;
    margin-right: 100px;
  }
 
  .bar {
    max-width: 250px;
  }
  .bar1 {
    max-width: 200px;
  }
  .line {
    max-width: 200px;
  }
  .circular--square{
    margin-left: 5px;
    border-radius: 50%;
  }
  .icon {
    margin-left: 25px;
    font-size: 7px;}
    

  .container {
    height: 100vh;
    display: block;
    flex-direction: column;
    max-width: min-content; 
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";
}
}