html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  display: flex;
}
.articleontainer {
    display: flexbox;
    font-family: Arial, Helvetica, sans-serif;}
    
header {
  font-size: 50px;
  text-transform: uppercase;
  grid-area: "header";
 
}


.sidebar{
    background-color: lightblue;
    grid-area:"sidebar";
    width: 300px;
}
.circular--square {
  border-radius: 50%;
  text-align: center;
  margin-left: 50px;
  }
.contact p {
  margin: 0 10px;
  text-align: left;
  
}
.contact h2 {
  text-align: center;
}

.nobullet {
 list-style-type: none;
 margin-left: -7%;
 margin-bottom: 10px;
}
.aboutme {
  text-align: center;
 
}
.aboutme p {
  margin: 0 10px;
  text-align: justify;
  padding: 5%;
  margin-top: 10%;
 
  
}
.aboutme h2 {
  text-align: center;
}

.hobbies {
  text-align: center;
  margin-top: 200%;
}

.graybar {
    display: flexbox;
    width: 300px;
    font-size: 30px;
    float: none;
    margin-left:5px;
    border:1px solid #000;
    text-align: center;
    align-items: center;
    background-color: rgb(100, 96, 96);
    color: lightblue;
    text-transform: uppercase;
    margin: auto;
    padding-top: 20px;  
    font-family: Arial, Helvetica, sans-serif; 
  }

.icon {
  margin-top: 5%;
}

.fa-theater-masks {
    margin: 1%;
   
}
.fa-biking {
    margin: 1%; 
   
} 
.fa-book-reader {
    margin: 1%; 
  
}

.circle-icon {
    border-radius: 50%;
    border: solid;
    padding: 20px;
}
h1 {
  margin-bottom: -1%;
}
.occupationname {
  font-size: 30px;
  padding-left: 5%;
 
}
.redtext {
    text-transform: uppercase;
    color: lightblue;
    padding-left: 50px;
  }

.line {
    border-bottom:  2px solid lightblue;
    width: 750px;  
    margin-top: -20px;
    margin-left: 50px;
  }
  #line2 {
    border-bottom:  2px solid lightblue;
    width: 30%; 
    margin-left: 50px;
    margin-top: -20px;
  }
  
.fa-dot-circle {
    padding: 5px;
    width: 3%;
  }
.fa-circle {
    padding: 5px;
    width: 3%;
    font-size: 8px;
  }
  .education {
    grid-area: "education";
  }
  .experience {
    grid-area: "experience";
  }
  .reference {
    grid-area: "reference";
  }

  .article-entrytitle {
    margin-left: 5%;
    margin-top: 10%;
  }
  .articlecontent li {
    display: flex;
    margin-left: 10px;
  
  }
.entrydate {
    text-align: justify;
    white-space: nowrap;
    width: 30%;
   }
.location{
    grid-area: location;
    font-size: 12px;
    margin-bottom: 20px;
}

h3 {
  margin-top:  0;
}
.entrycontent {
  width: 40%;
  margin-left: -5%; 
}

.entryreference {
  display: flex;
}
.entryreference > section {
  width: 50%;
  margin-left: 5%;
  margin-top: 3%;
}
.ref2 {
  margin-right: 10%;
}


@media only screen and (max-width: 1150px) {
  header {
    font-size: 40px;}

}
@media only screen and (max-width: 1000px) {
  header {
    font-size: 30px;}
}

@media only screen and (max-width: 950px) {
  header {
    font-size: 25px;
  }
  .occupationname {
    font-size: 20px;
    margin-left: 3%;
  }
  .line {
    width: 80%;  
  }
  .entrydate {
    margin-left: 5%;
    font-size: 12px;
  }
  .entrycontent {
    width: 30%;
    margin-left: 25%;
    font-size: 12px;
  }
  .entryreference > section {
    margin-left: 10%;
    font-size: 12px;
    
  }
}


@media only screen and (max-width: 750px) {
  .container {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "sidebar"
    "education"
    "experience"
    "reference"
    "ref1"
    "ref2"
   ;
  } 
  header {
    font-size: 25px;
  }
  .line {
    width: 100%;  
    margin-top: -20px;
    margin-left: 50px;
  }
  .occupationname {
    font-size: 20px;
  }
  .entrycontent {
    width: 40%;
    margin-left: 20%;
  }
   .sidebar{  
    width: 100%;
}  
}



/*@media only screen and (max-width: 800px) {

  header {
    margin-left: 70px;
  }
  .line {
    width: 400px;
  }
  .bar {
    width: 720px;
  }
  .bar1 {
    width: 720px;
  }
  .circular--square{
    margin-left: 250px;
    border-radius: 50%;
    padding: 20px;
  }
  .icon {
    margin-left: 210px;
    font-size: 10px;
  }
  .edcontent1 {
    margin-left: 50px;
  }
  h3 {
    margin-top:  0;
    font-size: 3rem;
  }

  .edcontent2 {
    margin-left: 50px;
  }
  .excontent1 {
    margin-left: 50px;
  }
  .excontent2 {
    margin-left: 50px;
  }
  .excontent3 {
    margin-left: 50px;
  }
  .end2 {
    margin-left: 50px;
  }
  .container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "nav"
    "sidebar "
    "main"
    "eddate1"
    "edcontent1"
    "eddate2"
    "edcontent2"
    "main1"
    "exdate1"
    "excontent1"
    "exdate2"
    "excontent2"
    "exdate3"
    "excontent3"
    "footer"
    "end1"
    "end2";} } */